<div class="password-section">
    <h1>Password Generator</h1>
    <div class="input">
        <label for="Enter Length">Enter Length</label>
        <input type="number" />
    </div>
    <div class="checkbox">
        <div>
            <input type="checkbox" name="Use Letter" id="" />
            <label>Enter Letter</label>
        </div>
        <div>
            <input type="checkbox" name="Use Number" id="" />
            <label for="">Enter Number</label>
        </div>
        <div>
            <input type="checkbox" name="Use Symbol" id="" />
            <label for="Symbol">Enter Symbol</label>
        </div>
    </div>
    <div class="btn">
        <button (click)="onButtonClick()">Generate</button>
    </div>
    <div class="input">
        <label for="Your Password">Your Password</label>
        <input type="text" [value]="password" />
    </div>
</div>
