<div class="password-section">
    <h1>Password Generator</h1>
    <div class="input">
        <label for="Enter Length">Enter Length</label>
        <input (input)="onChangeLength($event)" />
    </div>
    <div class="checkbox">
        <div>
            <input (change)="onChangeUseLetter()" type="checkbox" />
            <label>Enter Letter</label>
        </div>
        <div>
            <input (change)="onChangeUseNumber()" type="checkbox" />
            <label for="">Enter Number</label>
        </div>
        <div>
            <input (change)="onChangeUseSymbol()" type="checkbox" />
            <label for="Symbol">Enter Symbol</label>
        </div>
    </div>
    <div class="btn">
        <button
        [disabled]="!(length && (includeLetters ||includeNumbers || includeSymbols))"
         (click)="onButtonClick()">
         Generate
        </button>
    </div>
    <div class="input" *ngIf="password">
        <label for="Your Password">Your Password</label>
        <input type="text" [value]="password" />
    </div>
</div>
